{% extends "::base.html.twig" %}

{% block head %}
  {% block title %}ShopmodeBundle - index{% endblock %}
{% block stylesheets %}{% endblock %}
{% endblock %}

{% block body %}
  <h2>ShopmodeBundle - index</h2>
  <img src="{{ asset('images/{{ article.image }}') }}" 
       height=33% width=33% alt="" />
{% endblock %}
