{% extends "base.html.twig" %}

{% block head %}
  {% block title %}ShopmodeBundle - Erreur{% endblock %}
{% block stylesheets %}{% endblock %}
{% endblock %}

{% block body %}
  <h2>ShopmodeBundle - Erreur</h2>
{% endblock %}
