<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
  {% block stylesheets %}{% endblock %}
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  
<!-- Bootstrap -->  
{% include 'bootstrap/bootstrap_stylesheets.html' %}

  <!-- CSS produits -->
  <link rel="stylesheet" type="text/css" href="{{ asset('css/produit.css') }}">
  <!-- CSS menu -->
{#  <link rel="stylesheet" type="text/css" href="{{ asset('css/large_dropdown_menu.css') }}">#}
  
</head>
<body>
{#  {% include 'default/menu.html.twig' %} #}
{#  {% include 'menu/menu_DM.html.twig' %} #}
  {{ render(controller('DMShopmodeBundle:Menu:menu')) }}
  {% block body %}{% endblock %}
  {% include 'default/footer.html.twig' %}
  
{% block javascripts %}{% endblock %}
<!-- Bootstrap javascript -->  
{% include 'bootstrap/bootstrap_javascripts.html' %}
</body>
</html>
