{# empty Twig template #}
{# auteur: Samuel Vermeulen #}
{# date: 05/08/2017 #}

<nav class="navbar navbar-default navbar-static">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
    </button>
    <!--<a class="navbar-brand" href="#">Large Dropdown Menu</a>-->
  </div>

  <div class="collapse navbar-collapse js-navbar-collapse">

    <ul class="navbar-left col-sm-4">
      <li class="col-sm-4">
        <a href="{{ path('articlescategories_index') }}" class="">Catégories articles</a>
      </li>
      <li class="col-sm-4">
        <a href="{{ path('cattype_index') }}" class="">Catégories type</a>
      </li>
    </ul>    
    
    <ul class="navbar-right col-sm-4">
      <li class="col-sm-6">
  
      </li>
      
      <li class="col-sm-2">

      </li>
    </ul>

  </div><!-- /.nav-collapse -->

</nav>

