/* 
    Created on : 6 août 2017, 14:42:11
    Author     : sam
*/

.navbar-font-dropdown {
  font-family: 'Lato', sans-serif,"Helvetica Neue",Helvetica,Arial;
  font-weight: bold;
  font-size: 16px;
}

.navbar-font {
  font-family: 'Lato', sans-serif,"Helvetica Neue",Helvetica,Arial;
  font-weight: bold;
  font-size: 16px;
}

.separate-vertical {
  border-color: #bbbbbb;
  border-style: solid;
  /*  border-left: 2px;
    border-right: 2px;*/
  border-width: 1px;
  border-top: none;
  border-bottom: none;
  border-left: none;
}

