/*
CSS de la page d'affichage produits
*/

/* block produit */
.blockProduit {
/*  margin-left: 20px;*/
  margin-bottom: 00px;
  margin-top: 00px;
  height: 300px;
  width: 300px;
  padding-top: 25px;
}

.nomProd {
  font-size: 1em;
  height: 3em;
  width: 280px;
}

.descriptRapProd {
  font-size: 1.3em; 
}

.descriptProd {
  font-size: 0.8em;  
}

.prixProd {
  color: red; font-size: 1.5em;
}

.stockProd {
  font-size: 1.2em; color: #aaa;
}

.stock_epuise {
  color: #aaa;
}

.stock_enStock {
  color: #3a3;
}

.imgProd {
  width: 200px; height: 200px;
}

.btnPanierProduit {
  width: 100px;
  height: 50px;
  font-size: 0.8em;
}
