{% extends "::base.html.twig" %}

{% block head %}
  {% block title %}ShopmodeBundle - test{% endblock %}
{% block stylesheets %}{% endblock %}
{% endblock %}

{% block body %}
  <h2>ShopmodeBundle - test</h2>
  cat: {{ cat }}<br>
  count: {{ count }}<br>
{% endblock %}
