{% extends "base.html.twig" %}

{% block head %}
  {% block title %}ShopmodeBundle - Articles{% endblock %}
{% block stylesheets %}{% endblock %}
{% endblock %}

{% block body %}
  
  {% include 'article/paginationArticlesBS.html.twig' with 
  { previousPathUrl:  pathUrl.previousPathUrl,
    nextPathUrl:      pathUrl.nextPathUrl,
    maxPage:          maxPage } %}
      
  <div class="row">
  {% for article in articlesArray %}
{#   {% include 'DMShopmodeBundle:Default:block_article.html.twig' with {article: article} %} #}
    {% include 'article/block_article.html.twig' with {article: article} %} 

  {% endfor %}
  </div>

  {% include 'article/paginationArticlesBS.html.twig' with 
    { previousPathUrl:  pathUrl.previousPathUrl,
      nextPathUrl:      pathUrl.nextPathUrl,
      maxPage:          maxPage } %}

{% endblock %}