{% extends 'admin.html.twig' %}

{% block body %}
    <h1>Cattypes list order</h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Ordre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for catType in catTypes %}
            <tr>
                <td>{{ catType.id  }}</td>
                <td>{{ catType.nom }}</td>
                <td>{{ catType.ordre }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
