{#
navbar menu 'login' compte
https://bootsnipp.com/snippets/featured/fancy-navbar-login-sign-in-form
#}
<a href="#" class="dropdown-toggle dropdown-menu-cat navbar-font" data-toggle="dropdown"><b>Mon compte</b> <span class="caret"></span></a>
<ul id="login-dp" class="dropdown-menu">
  <li>
    <div class="row">

      {{ render(controller('FOS\UserBundle:Security:login' )) }}

      <div class="bottom text-center">
        Nouveau ? <a href="{{ path('fos_user_registration_register') }}"><b>Créez votre compte</b></a>
      </div>

    </div>
  </li>
</ul>