{# s enregistrer - s'identifier #}

<a href="{{ path('fos_user_registration_register') }}" class="navbar-font">Créer un compte</a>
{#<a href="{{ path('login') }}" class="navbar-font">S'identifier</a>#}
<a href="{{ path('fos_user_security_login') }}" class="navbar-font">S'identifier</a>