{# Menu déroulant des catégories #}

<ul class="nav navbar-nav navbar-font-dropdown">
  {# Boucle d'affichage des menus déroulants catégories #}
  {% for catType in menu %}
    <li class="dropdown dropdown-large">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ catType.catTypeName }}<span class="caret"></span>
        <ul class="dropdown-menu dropdown-menu-large row">
          <li class="col-sm-3">
            <ul>
              {# Pour chaque catégorie, afficher les articles (chemises, etc) #}
              {% for cat in catType.cats %}
                <li class="dropdown-menu-cat">
                  <a href="{{ path('dm_shopmode_viewBlockList',
                     { 'cat': cat.name, 'page':1 }) }}">{{ cat.name }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
        </ul>
    </li>
  {% endfor %}
</ul>