{# empty Twig template #}
{# auteur: Samuel Vermeulen #}
{# date: 05/08/2017 #}

<nav class="navbar navbar-default navbar-static">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
    </button>
    <!--<a class="navbar-brand" href="#">Large Dropdown Menu</a>-->
  </div>

  <div class="collapse navbar-collapse js-navbar-collapse">

    {% include 'menu/menu_dropdown_cat.html.twig' %}
{#    {% include 'menu/menu_dropdown_marque.html.twig' %}#}

    <ul class="navbar-right col-sm-5">
      <li class="col-sm-6">
        {% include 'menu/compte.html.twig' %}      
      </li>
      
      <li class="col-sm-2">
        {# s'enregistrer - s'identifier #}
        {% include 'menu/login.html.twig' %}
      </li>

      <li class="col-sm-2">
        {# == affichage de l'utilisateur connecté == #}
        {% include 'menu/utilisateur.html.twig' %}
      </li>

      <li class="col-sm-2">
        {# == panier == #}
        {% include 'menu/panier.html.twig' %}
      </li>
    </ul>

  </div><!-- /.nav-collapse -->

</nav>

